<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <h1>Products</h1>
    <div class="d-flex flex-wrap">
      <% for (let i = 0; i < products.length; i++) { %>
        <div class="card mr-5 mb-5" style="width: 18rem;">
          <img class="card-img-top" src=<%= products[i].image %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= products[i].name %></h5>
            <p class="card-text"><%= products[i].description %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
</body>
</html>